@font-face {
  font-family: "Avertademopecutteddemoregular";
  src: url("/assets/fonts/Avertademopecutteddemoregular.ttf");
}

@font-face {
  font-family: "Slack-Tiempos";
  src: url("/assets/fonts/Tiempos HeadlineTest-Medium.otf");
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  max-width: 100%;
  font-size: 16px;
  font-family: "Avertademopecutteddemoregular", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Slack-Tiempos", "Times New Roman", Georgia, serif;
  color: #323648;
  font-weight: 500;
  line-height: 1.05;
}

.email-form input {
  display: inline-block;
  width: 310px;
  padding: 1.15rem 1rem;
  border: 1px solid #ebebeb;
  border-radius: 4px;
  color: #5b5e6d;
  background-color: #fff;
  font-weight: 400;
  font-size: 1rem;
  text-decoration: none;
}

.email-form button {
  border: none;
  background: #3f46ad;
  color: #fff;
  cursor: pointer;
  border-radius: 4px;
  text-align: center;
  font-weight: 700;
  line-height: 1.3;
  font-size: .9rem;
  text-transform: uppercase;
  text-decoration: none;
  padding: 19px 40px 20px;
}

header {
  display: flex;
  height: 70px;
  padding: 0 120px 0 108px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ebebeb;
}

header .logo {
  width: 95px;
  height: 28px;
}

header .logo a {
  display: block;
  height: 100%;
  width: 100%;
  background: transparent url("/assets/images/logo-header.svg") center center no-repeat;
  background-size: contain;
}

header nav {
  display: flex;
  justify-content: space-between;
}

header nav ul {
  list-style-type: none;
  width: 645px;
  display: flex;
  justify-content: space-between;
}

header nav ul li {
  display: inline-block;
}

header nav ul li a {
  color: #dadada;
  font-size: 1rem;
  text-decoration: none;
  transition: color .5s;
}

header nav ul li a:hover,
header nav ul li a:active {
  color: #3f46ad;
}

header nav ul li a {
  white-space: nowrap;
}

header nav ul li a.btn {
  margin-left: .5rem;
  border-radius: 5px;
  border: 1px solid #323648;
  padding: .5rem .7rem;
}

section {
  clear: both;
}

.main {
  padding: 107px 140px 70px 15px;
  clear: both;
}

.main img {
  float: left;
  width: 655px;
  margin-right: 2rem;
}

.main h1 {
  margin: 0 0 2rem;
  font-size: 4.8rem;
}

.main p {
  color: #5b5e6d;
  font-size: 1.25rem;
  margin: 0 0 2rem;
}

.main .small {
  margin-top: 1rem;
  font-size: .875rem;
}

.good {
  padding: 55px 105px 45px;
  text-align: center;
  background: #f5f5f5;
}

.good h2 {
  margin-bottom: 1.5rem;
  font-size: 2rem;
}

.good p {
  color: #5b5e6d;
}

.good .btn {
  display: inline-block;
  margin-top: 2rem;
  padding: 19px 40px 20px;
  border: 1px solid #3f46ad;
  border-radius: 4px;
  background: #fff;
  color: #3f46ad;
  font-size: .9rem;
  cursor: pointer;
  text-align: center;
  font-weight: 700;
  line-height: 1.3;
  text-transform: uppercase;
  text-decoration: none;
  transition: border .3s, padding .3s;
}

.good .btn:hover {
  border: 2px solid #3f46ad;
  padding: 18px 39px 19px;
}

.good .partners {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 7rem);
  margin-top: 2rem;
}

.good .partners div {
  display: grid;
  align-items: center;
  justify-content: center;
}

.good .partners div:nth-child(-n + 3) {
  border-bottom: 1px solid #ebebeb;
}

.good .partners div:nth-child(3n - 1) {
  border-left: 1px solid #ebebeb;
  border-right: 1px solid #ebebeb;
}

.try-it {
  display: flex;
  justify-content: space-between;
  padding: 55px 105px 45px;
}

.try-it h3 {
  font-size: 1.5rem;
  line-height: 1.5;
}

.try-it p {
  color: #5b5e6d;
}

footer a {
  text-decoration: none;
  color: #6d6f7b;
  line-height: 1.5;
  transition: color .3s;
}

footer a:hover {
  color: #3f46ad;
}

.footer-1 {
  padding: 55px 105px 45px;
  border-top: 1px solid #ebebeb;
}

.footer-1 .logo {
  background: url("/assets/images/logo.svg") top left no-repeat;
  width: 200px;
  height: 200px;
  float: left;
}

.footer-1 nav {
  display: flex;
  margin-left: 400px;
}

.footer-1 ul {
  flex: 1 1 auto;
  display: inline-block;
  list-style: none;
}

.footer-1 .title {
  color: #6d6f7b;
  font-size: .875rem;
  text-transform: uppercase;
  font-weight: 700;
  padding: .5rem 0;
}

.footer-1 a {
  line-height: 2;
}

.footer-2 {
  display: flex;
  justify-content: space-between;
  padding: 35px 105px 25px;
  background: #f5f5f5;
}

.footer-2 .links {
  display: flex;
  list-style: none;
}

.footer-2 .links li + li {
  padding-left: 1rem;
}

.footer-2 .links li a {
  font-weight: 700;
}

.footer-2 .social {
  display: flex;
  list-style: none;
}

.footer-2 .social li + li {
  margin-left: 1rem;
}

.footer-2-right {
  display: flex;
}

.footer-2-right .lang {
  line-height: 1.5;
  margin-right: 1rem;
  font-weight: 700;
  color: #6d6f7b;
  cursor: pointer;
}

.footer-2-right .lang:hover {
  color: #3f46ad;
}

.footer-2-right .lang:after {
  content: '';
  display: inline-block;
  width: 0.8rem;
  height: 1.5rem;
  margin-left: .5rem;
  vertical-align: top;
  line-height: 1.5;
  background: url("/assets/images/arrow.svg") center center no-repeat;
}